<h2>List of ratings</h2>

<ul>
 <% @ratings.each do |rating| %>
    <li id="dom_id brewery"> 
      <%= render rating %> <%= button_to 'delete', rating, method: :delete, form: { data: { turbo_confirm: "Are you sure to delete the rating for #{rating.beer.name}?" } } %>
    </li>
 <% end %>
</ul>

<%= link_to "New rating", new_rating_path %>